@import "../../sass/mixins";

.main{

    margin-top: 5rem;
    
    &_text{
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: 1.55rem;
        letter-spacing: .6rem;
        font-weight: 600;

        @include respond(tab-port){
            margin-bottom: 10rem;
        }
    }

    &_album{
        display: flex;
        padding: 0 18.5rem;
        margin: 5rem 0;
        flex-direction: row;

        @include respond(tab-port){
            flex-direction: column;
            padding: 0;
        }

        &_image{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10rem;
            
            @include respond(tab-port){
                margin-bottom: 4rem;
            }
            
            &_img1{
                height: 30%;
                width: 65%;

                @include respond(tab-port){
                    height: 45%;
                    width: 75%;
                }
            }

            &_img2{
                height: 72%;
                width: 55%;

                @include respond(tab-port){
                    height: 50%;
                    width: 40%;
                }
            }

            &_img3{
                height: 55%;
                width: 70%;
            
                @include respond(tab-port){
                    height: 50%;
                    width: 70%;
                }
            }
        }
    }
}